# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables / secrets
.env
.env.*

# Django migrations (опционально, если хотите игнорировать — не рекомендуется для командной работы)
# */migrations/*.py
# !*/migrations/__init__.py

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Coverage / testing
htmlcov/
.coverage
.pytest_cache/